.main {
    margin: 5rem 0 0 5rem;

    display: block;
}

.h1, .p .link {
    margin-top: 0;
    margin-bottom: 2rem;

    font-family: Arial, sans-serif;
}

.h1 {
    color: #000;

    font-weight: 700;
    font-size: 4.5rem;

    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    display: block;
}

.p {
    color: #7d7d7d;
    font-size: 1.75rem;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    display: block;

    margin-bottom: 1rem;
}

.link {
    color: #0000ee;
    font-size: 1rem;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    display: block;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}