.main {
    margin: 5rem 0 0 5rem;
}

.h1, .p, .link {
    font-family: Arial, sans-serif;
}

.h1 {
    color: #000;

    font-weight: 700;
    font-size: 4.5rem;

    margin-bottom: 0.1em;
}

.p {
    color: #7d7d7d;
    font-size: 1.75rem;

    margin-bottom: 0rem;
}

.link {
    transition: 0.2s;

    color: #5050ff;
    font-size: 1.2rem;

    margin-top: 0.4rem;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}